<div id="main">
  <div id="image">
    <%= image_tag info_subsection.file %>
    <%= image_tag info_subsection.file_colour %>
  </div>
  <div id="text">
    <%= info_subsection.get_content(english?) %>
  </div>
</div>
