<% title edit(:info subsection) %>

<%= render 'form' %>

<div id="bottom_links">
  <% if can? :show, @info subsection -%>
    <%= link_to t(:show), @info_subsection %> |
  <% end %>
  <%= link_to view(:info subsection), info_subsections_path if can? :index, InfoSubsection %>
</div>
