/* line 29, ../../app/stylesheets/application.sass */
a.bright {
  color: white;
}

/* line 32, ../../app/stylesheets/application.sass */
li.active {
  background: #bbbbbb;
}

/* line 35, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 40, ../../app/stylesheets/application.sass */
a {
  color: #4b7399;
  text-decoration: none;
  font-size: 12px;
}

/* line 45, ../../app/stylesheets/application.sass */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 49, ../../app/stylesheets/application.sass */
div#flash_container {
  height: 35px;
}
/* line 51, ../../app/stylesheets/application.sass */
div#flash_container div#flash_notice {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -webkit-linear-gradient(top, #4cc417, #339966);
  background-image: -moz-linear-gradient(top, #4cc417, #339966);
  background-image: -o-linear-gradient(top, #4cc417, #339966);
  background-image: -ms-linear-gradient(top, #4cc417, #339966);
  background-image: linear-gradient(top, #4cc417, #339966);
}
/* line 57, ../../app/stylesheets/application.sass */
div#flash_container div#flash_alert {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(top, #ff3333, #808080);
  background-image: -moz-linear-gradient(top, #ff3333, #808080);
  background-image: -o-linear-gradient(top, #ff3333, #808080);
  background-image: -ms-linear-gradient(top, #ff3333, #808080);
  background-image: linear-gradient(top, #ff3333, #808080);
}

/* line 65, ../../app/stylesheets/application.sass */
div#container {
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 854px;
}
/* line 70, ../../app/stylesheets/application.sass */
div#container div#header img {
  display: block;
  width: 594px;
}
/* line 73, ../../app/stylesheets/application.sass */
div#container div#contents {
  background: white url("/images/blackandwhite.png") no-repeat;
  width: 854px;
  height: 480px;
  position: relative;
}
/* line 78, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container.full_width {
  width: 794px;
}
/* line 80, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container {
  width: 420px;
  margin: 20px 0 0 20px;
  padding: 0 10px 10px 10px;
  float: left;
  background: rgba(255, 255, 255, 0.8);
}
/* line 88, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#menu ul li {
  list-style-type: none;
  float: left;
}
/* line 91, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#menu ul li a {
  font-size: 29px;
  color: black;
  margin: 0 5px;
}
/* line 97, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#submenu ul li {
  list-style-type: none;
  padding: 0 2px 0 2px;
  float: left;
}
/* line 102, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#submenu ul li.submenu a {
  color: #555555;
  font-size: 15px;
}
/* line 105, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main {
  width: 400px;
}
/* line 109, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main table tbody tr.hover {
  background: #dddddd;
}
/* line 112, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main table tbody tr td.link {
  width: 30px;
}
/* line 115, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main table tbody tr td:first-child {
  font-weight: bold;
  padding-right: 5px;
}
/* line 119, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main ul li {
  float: left;
  list-style-type: none;
}
/* line 122, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main ul li img {
  float: left;
  margin: 0 5px 5px 0;
}
/* line 125, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form {
  margin-top: 10px;
}
/* line 127, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form fieldset {
  padding: 5px 0;
  border: 1px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
}
/* line 133, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form fieldset ol li {
  margin: 0;
  padding: 0;
}
/* line 137, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form li label {
  width: 100px;
}
/* line 139, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form li input {
  width: 200px;
}
/* line 141, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form li textarea {
  width: 270px;
  height: 150px;
  resize: none;
}
/* line 146, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form li.error p.inline-errors {
  margin-left: 110px;
}
/* line 148, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main form input.submit {
  margin-left: 110px;
}
/* line 150, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main div#image {
  position: relative;
  height: 220px;
}
/* line 153, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main div#image img {
  position: absolute;
  height: 220px;
}
/* line 156, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#main div#text {
  height: 110px;
}
/* line 159, ../../app/stylesheets/application.sass */
div#container div#contents div#main_container div#footer a {
  margin-right: 7px;
}
/* line 161, ../../app/stylesheets/application.sass */
div#container div#contents div#image_container {
  position: absolute;
  left: 173px;
  top: 175px;
}
/* line 165, ../../app/stylesheets/application.sass */
div#container div#contents div#image_container img {
  visibility: hidden;
  width: 440px;
}
/* line 168, ../../app/stylesheets/application.sass */
div#container div#contents div#order_container {
  width: 364px;
  margin: 20px 20px 0 0;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  float: right;
}
/* line 176, ../../app/stylesheets/application.sass */
div#container div#contents div#order_container form {
  padding: 10px;
}
/* line 178, ../../app/stylesheets/application.sass */
div#container div#contents div#order_container form input.submit {
  text-align: right;
}
/* line 181, ../../app/stylesheets/application.sass */
div#container div#contents div#order_container form li img {
  float: right;
}
/* line 183, ../../app/stylesheets/application.sass */
div#container div#contents div#user_nav {
  text-align: right;
  display: block;
}
/* line 188, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li.error p.inline-errors {
  font-style: italic;
  font-size: 13px;
  margin-left: 160px;
  color: #ff5555;
}
/* line 193, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li {
  list-style-type: none;
}
/* line 195, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li p.inline-hints {
  margin-left: 160px;
  font-size: 13px;
  font-style: italic;
}
/* line 199, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px 0 0;
}
/* line 204, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li label abbr {
  color: #ff5555;
}
/* line 206, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li input {
  width: 175px;
}
/* line 209, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li fieldset ol {
  float: left;
}
/* line 211, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic li fieldset ol li {
  margin: 0;
  padding: 0;
}
/* line 214, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic input.submit {
  margin: 10px 0 0 160px;
}
/* line 216, ../../app/stylesheets/application.sass */
div#container div#contents form.formtastic input.small_submit {
  margin-top: 10px;
}
