@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/gradient"

$spacing: 10px
$main_width: 854px
$label_width: 150px
$label_margin: $spacing
$label_full_width: $label_width + $label_margin

$font_size: 14px
$a_size: $font_size - 2px
$h1_size: $font_size * 2

$bg_colour: #333
$link_colour: #4B7399
$alert_dark: gray 
$notice_dark: #396
$alert_light: #f33
$notice_light: #4CC417

@mixin custom_gradient($light, $dark, $corner: 10px)
  color: white
  font-weight: bold
  padding: 5px
  +border-radius($corner)
  +linear-gradient(color-stops($light, $dark))

a.bright
  color: white

li.active
  background: #bbb

div.clear
  clear: both
  height: 0
  overflow: hidden

a
  color: $link_colour
  text-decoration: none
  font-size: $a_size

h1
  font-size: $h1_size
  margin-bottom: 2*$spacing

div#flash_container
  height: 35px
  div#flash_notice
    float: left  
    margin-bottom: 5px
    padding: 3px 10px
    border: 1px solid black
    +custom_gradient($notice_light,$notice_dark)
  div#flash_alert
    float: left
    margin-bottom: 5px
    padding: 3px 10px
    border: 1px solid black
    +custom_gradient($alert_light,$alert_dark)

$main_width: 400px
div#container
  font: normal $font_size "Helvetica Neue", Arial, Helvetica, sans-serif
  margin: 0 auto
  width: 854px 
  div#header
    img
      display: block
      width: 594px
  div#contents
    background: white url('/images/blackandwhite.png') no-repeat
    width: 854px
    height: 480px
    position: relative
    div#main_container
      margin: 20px 0 0 20px
      padding: 0 10px 10px 10px
      float: left
      background: rgba(255,255,255,0.8)
      div#menu
        ul
          li 
            list-style-type: none
            float: left
            a
              font-size: 29px
              color: black
              margin: 0 5px
      div#submenu
        ul
          li
            list-style-type: none
            padding: 0 2px 0 2px
            float: left
          li.submenu
            a
              color: #555
              font-size: 15px
      div#main
        width: $main_width 
        table
          tbody
            tr.hover
              background: #ddd
            tr
              td.link
                width: 30px
              td
                &:first-child
                  font-weight: bold
                  padding-right: 5px
        ul
          li
            float: left
            list-style-type: none
            img
              float: left
              margin: 0 5px 5px 0
        form
          margin-top: 10px
          fieldset
            padding: 5px 0
            border: 1px solid black
            +border-radius(10px)
            margin-top: 5px
            ol
              li
                margin: 0
                padding: 0
          li
            label
              width: 100px
            input
              width: 200px
            textarea
              width: 270px
              height: 150px
              resize: none
          li.error
            p.inline-errors
              margin-left: 100px+10px
          input.submit
            margin-left: 100px+10px
        div#image
          position: relative
          height: 220px
          img
            position: absolute
            height: 220px
        div#text
          height: 110px
      div#footer
        a
          margin-right: 7px
    div#image_container
      position: absolute
      left: 173px
      top: 175px
      img
        visibility: hidden
        width: 440px
    div#order_container
      margin: 20px 20px 0 0
      background: rgba(255,255,255,0.8)
      border: 2px solid black
      //+border-radius(10px)
      float: right
      //+box-shadow(#777,5px,5px,5px)
      form
        padding: 10px
        input.submit
          text-align: right  
        li
          img
            float: right
    div#user_nav
      text-align: right
      display: block
    form.formtastic
      li.error
        p.inline-errors
          font-style: italic
          font-size: 13px
          margin-left: $label_full_width
          color: #ff5555
      li
        list-style-type: none
        p.inline-hints
          margin-left: $label_full_width
          font-size: 13px
          font-style: italic
        label
          float: left
          width: $label_width
          text-align: right
          margin: 2px $label_margin 0 0
          abbr
            color: #ff5555 
        input
          width: 180px
        fieldset
          ol
            li
              margin: 0
              padding: 0
      input.submit
        margin: $spacing 0 0 $label_full_width
      input.small_submit
        margin-top: $spacing
