<%= content_for(:head) do %>
  <%= javascript_include_tag "info" %>
<% end %>

<% unless @info_subsections.empty? %>
  <%= render @info_subsections.first %>
<% end %>

<div id="footer">
  <% @info_subsections.each do |subsection| %>
    <%= link_to(image_tag(subsection.file_thumb), @info_section) %>
  <% end %>
</div>
